.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20rem;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

// .backToHome {
//   margin: 3rem 0 0;
// }

.selectWrapper{
  margin: 3rem 0 ;
  display: flex;
  justify-content: center;
}

$backToTopSize: 40px;
.backToTop{
  position: fixed;
  border-radius: 50%;
  z-index: 99900;
  bottom: 5rem;
  right: 7rem;
  width: $backToTopSize;
  height: $backToTopSize;
  background-color: black;
  cursor: pointer;

  .backTopTriangle{
    position: relative;
    border-left: $backToTopSize*0.25 solid transparent;
    border-bottom: $backToTopSize*0.25 solid white;
    border-right: $backToTopSize*0.25 solid transparent;
    left: $backToTopSize*.25;
    top: $backToTopSize*0.2;
    width: 0;
    height: 0;
  }

  .backTopRectangle{
    position: relative;
    top: $backToTopSize*.05;
    left: $backToTopSize*.425;
    width: $backToTopSize*.15;
    height: $backToTopSize*.5;
    background-color: white;
  }
}


